.flex-container {
    display: flex; /* Enable Flexbox */
    flex-direction: column;
    gap: 20px; /* Space between items */
    list-style: none; /* Remove default list styling*/
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    justify-content: space-between; /* Distribute items across the container */
    align-items: center; /* Align items vertically */
}

.header {
    display: flex;
    justify-content: center; /* Center the child wrapper horizontally */
    align-items: center; /* Center the child wrapper vertically */
    height: 100px;
    opacity: 0.85
}

header-content {
    text-align: center; /* Center text inside the child wrapper */
}

html, body {
    height: 100%; /* Ensure the <html> and <body> elements take up the full viewport height */
    margin: 0; /* Remove default margin to prevent whitespace */

body {
    background-image: url('images/Background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item {
    flex: 1; /* Flex items will equally divide available space */
    margin: 10px; /* Optional: Additional spacing */
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Center text inside items */
    transition: transform 0.3s;
}

.mashed-potatoes a {
    display: block; /* Makes the <a> tag behave like a block element */
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherit text color */
    height: 100%; /* Make sure the <a> tag takes up the full height of the .item */
    width: 100%; /* Make sure the <a> tag takes up the full width of the .item */
 
}

.red-wine-braised-beef a {
    display: block; /* Makes the <a> tag behave like a block element */
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherit text color */
}

.caribbean-fried-red-snapper a {
    display: block; /* Makes the <a> tag behave like a block element */
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherit text color */
}

body.red-wine-braised-beef-page {
    background-image: url('images/bird.webp');
    background-size: 50%; /* Scales image to half its size */
}

body.mashed-potatoes-page {
    background-image: url('images/bird.webp');
    background-size: 50%; /* Scales image to half its size */
}

body.caribbean-fried-red-snapper-page {
    background-image: url('images/bird.webp');
}

/* General box sizing for all items on page. In this case it is targeting my list items.
li {
    width: 100px;
    padding: 10px;
    border: 5px solid black;
    box-sizing: border-box;
  } */
  
  /* Red Outline to see the borders for all the boxes on page
  * {
    border: 1px solid red;
  }
    */